<div class="page-todo" cdkDropListGroup>
    <div class="todo-container">
      <h2><span matBadge="{{todosToDo.length}}" matBadgeOverlap="false">To do</span></h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todosToDo"
        class="todo-list"
        (cdkDropListDropped)="drop($event)">
        <div class="todo-box" *ngFor="let todo of todosToDo" cdkDrag>{{todo.title}}</div>
      </div>
    </div>
  
    <div class="todo-container">
      <h2><span matBadge="{{todosDone.length}}" matBadgeOverlap="false">Done</span></h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todosDone"
        class="todo-list"
        (cdkDropListDropped)="drop($event)">
        <div class="todo-box" *ngFor="let todo of todosDone" cdkDrag>
          {{todo.title}}<mat-icon aria-hidden="false" aria-label="Todo Done"> check </mat-icon>
        </div>
      </div>
    </div>
  </div>
